[submodule "third_party/lvgl"]
	path = third_party/lvgl
	url = https://github.com/lvgl/lvgl.git
	shallow = true
	branch = v9.2.2
[submodule "third_party/unity"]
	path = third_party/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	shallow = true
	branch = v2.6.0
